{% extends "layout.html" %}

{% block body_content %}
    <p1> Welcome to the Solar Index </p1>
    <p2> this is where you can see your Solarsystem and planets</p2>
    {% for solar in Solar%}
    <p>{{ solar.solar_name }} </p>
    
    
    {% endfor %}
    {% for planet in planets %}
        <p>{{ planet.planet_name }}</p>
        <form action="{{ url_for('updateplanet', name=planet.planet_name) }}">
            <button type="submit">Update planet</button>
        </form>
        <p>{{ planet.describe }}</p>
    {% endfor %}
{% endblock %} 
	
