[Unit]
Description=SolarIndex
[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/solar_id/script/installation.sh

[Install]
WantedBy=multi-user.target